<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui/swagger-ui.css' %}">
    <script src="{% static 'swagger-ui/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'swagger-ui/swagger-ui-standalone-preset.js' %}"></script>
</head>
<body>
    <div id="swagger-ui"></div>
    <script>
        const ui = SwaggerUIBundle({
            url: "{% static 'swagger.yaml' %}",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout"
        });
    </script>
</body>
</html>